// font
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


// colors

// primary
$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// neutral
$mainBg: hsl(217, 54%, 11%);
$cardBg: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);

body{
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    margin: 0;
    .attribution{
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 18px;
        color: white;
    }
}